{block content}



<div class="page-content">

  	<h1 style="text-align: center;"><b>Vitajte v systéme <br> EmployeesManager!</b></h1>
	<img class="center" src="img/employees.png" alt="Employees" width="auto" >					
 </div>

	
{/block}